modules = ["nodejs-20", "web", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 37789
externalPort = 3000

[[ports]]
localPort = 43459
externalPort = 3001

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "start"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
NEXT_PUBLIC_FIREBASE_API_KEY = "AIzaSyDv6P-_X8zrGJfAietKnjhmZPoAhA_FP5s"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN = "rentconnect-ba93a.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID = "rentconnect-ba93a"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET = "rentconnect-ba93a.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID = "1005998177210"
NEXT_PUBLIC_FIREBASE_APP_ID = "1:1005998177210:web:245faa2c43de2e271f3b83"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID = "G-GPXCF4BC75"
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY = "pk_test_xxx"
TWILIO_PHONE_NUMBER = "+917999715006"
TWILIO_WHATSAPP_NUMBER = "whatsapp:+917999715006"
